
.banner {
   width: 100%;
  aspect-ratio: 16 / 8;
  /*border: solid red;*/
  background: var(--head);
  border-radius: var(--radius);
  text-align: center;
  align-content: center;
  box-shadow:0px 10px 50px 0px rgba(50, 50, 50, 0.5);
}
.post {
  margin-top: 15px;
  background: var(--head);
  width: 100%;
  border-radius: 10px;
}
.post > h3{
  background: linear-gradient(90deg, rgba(92, 101, 198, 0.5), rgba(50, 50, 50, 1)) ;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px
}
.post > iframe {
  width: 90%;
  margin: 0px 5% 5px 5%;
  height: 200px;
  border-radius: var(--radius);
  border: solid black 1px;
}